
#BuyNow {
    margin-top: 100px;
}

#BuyNow:hover {
    box-shadow: 0 0 10px 5px #000;
    transition: 0.5s;
}

button.add-to-cart {
    background-color: #2fb550; /* Tailwind's green-500 */
    color: white;
    padding: 0.25rem 1rem; /* Tailwind's px-4 py-1 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.add-to-cart:hover {
    background-color: #2f855a; /* Tailwind's green-600 */
    transform: scale(1.05);
}

#view{
    background-color: #2fb550; /* Tailwind's green-500 */
    color: white;
    padding: 0.25rem 1rem; /* Tailwind's px-4 py-1 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#view:hover{
    background-color: #2fb550; /* Tailwind's green-500 */
    color: white;
    padding: 0.25rem 1rem; /* Tailwind's px-4 py-1 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    transition: background-color 0.3s ease, transform 0.3s ease; 
}